<!-- /sections/cart.liquid -->

<section class="cart"  data-section-id="{{ section.id }}" data-section-type="cart" >
	{% if cart.item_count == 0 %}
  	<div class="empty">
  		<h2 class="gutter-top theme">{{ 'cart.general.title' | t }}</h2>
  		<p class="gutter-bottom">{{ 'cart.general.empty' | t }}</p>
  		<a href="/collections/" class="btn btn--large btn--secondary">{{ 'cart.general.continue_shopping' | t }}</a>
  	</div>
	{% else %}
	<h2 class="theme">{{ 'cart.general.title' | t }}</h2>

	<form action="/cart" method="post" id="CartForm" class="just">
		<section id="CartOuter">
			<table>
				<thead>
					<tr class="top-row">
						<th class="img">&nbsp;</th>
						<th class="desc" colspan="2">{{ 'customer.order.details.product' | t }}</th>
						<th>{{ 'customer.order.details.price' | t }}</th>
						<th class="center">{{ 'customer.order.details.quantity' | t }}</th>
						<th class="remove">&nbsp;</th>
						<th class="total">{{ 'customer.order.details.total' | t }}</th>
					</tr>
				</thead>
				<tbody>
					{% for item in cart.items %}
					<!-- Added Line Item Properties -->
					{% assign property_size = item.properties | size %}
					{% if property_size > 0 %}
					<tr class="item with-props">
						{% else %}
						<tr class="item" data-variant-id="{{ item.variant_id }}">
							{% endif %}
							<td class="img">
								<a href="{{ item.url }}">
									<img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}" />
									<span class="mobile-small">
										{{ item.product.title }}
										<small>{{ item.variant.title }} | {{ item.price | money }}</small>
									</span>
								</a>
								<small class="mobile-small"><a href="/cart/change?id={{ item.id }}&quantity=0" class="remove-from-cart">{{ 'cart.general.remove' | t }}</a></small>
							</td>
							<td class="desc" colspan="2">
								<a href="{{ item.url }}">{{ item.product.title }} <small>{{ item.variant.title }}</small></a>
								{% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
								{% comment %} <p class				="lol">{{p}}</p> {% endcomment %}
                {% if p.first contains '_io_' %}
                {% continue %}
                {% endif %}
								{% if p.last != "" %}
                  {% unless p.last == blank %}
                    <p class="p-first">{{ p.first }}:</p>
										{% assign p_last = p.last | slice: 0,4 %}
										{% comment %} <div class="trick">{{p_last}}</div> {% endcomment %}
										{% comment %} {%if p_last =="data" %}
											<div>data</div>
										{% endif %} {% endcomment %}
                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      {% comment %} <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a> {% endcomment %}
										{% elsif p_last == "http" %}
											<a href="{{p.last}}"><img src="{{ p.last }}"/></a>
											
                    {% else %}
                      <p class='p-last'>{{ p.last }}</p>
                    {% endif %}

                    {% comment %} <br> {% endcomment %}
                  {% endunless %}
								{% endif %}
                {% endfor %}
              {% endif %}
							</td>

							<td class="price">{{ item.price | money }}</td>
							<td class="quantity center">
								<div class="js-qty quantity-selector">
									<span class="js-qty__adjust js-qty__adjust--minus quantity__minus">{% include "icon-minus" %}</span>
									<input class="text quantity js-qty__num quantity__input" type="number" min="1" size="4" aria-label="quantity" pattern="[0-9]*" id="updates_{{ item.id }}" name="updates[{{ item.id }}]" value="{{ item.quantity }}" />
									<span class="js-qty__adjust js-qty__adjust--plus quantity__plus">{% include "icon-plus" %}</span>
								</div>
							</td>
							<td class="center remove"><a href="/cart/change?id={{ item.id }}&quantity=0" class="remove-from-cart">{{ 'cart.general.remove' | t }}</a></td>
							<td class="total">{{ item.line_price | money }}</td>
						</tr>
						{% comment %} <!-- Added Line Item Properties -->
						{% assign property_size = item.properties | size %}
						<tr class="props">
							<td colspan="3">
								<div class="__props">
									{% for p in item.properties %}
									{% unless p.last == blank %}
									{{ p.first | strip }}:
                                    {% if p.last contains '//uploadery.s3' %}
                                    <a href="{{ p.last }}">Link to your file</a>
                                    {% else %}
									{{ p.last }}
									{% endif %}
									<br>
									{% endunless %}
									{% endfor %}
								</div>
							</td>
						</tr>
						<!-- End Line Item Properties  --> {% endcomment %}
						{% endfor %}
				</tbody>
			</table>
			<div class="cart__foot">
				<a class="text-link" href="/">{{ 'cart.general.continue_shopping' | t }}</a>
			</div>

		</section>
		<div class="cart-info-container">

      <h3 class="info__subtotal"><span>{{ 'cart.general.subtotal' | t }}:</span> <span class="cart__subtotal"><span id="bk-cart-subtotal-price">{{ cart.total_price | money }}</span></span></h3>
      {% if section.settings.allow_tax_text %}
        {% if section.settings.custom_tax_text == '' %}
				  <p class="info__tax"><small>{{ 'cart.general.subtotal_note' | t }}</small></p>
        {% else %}
					<p class="info__tax"><small>{{ section.settings.custom_tax_text }}</small></p>
        {% endif %}
      {% endif %}

      <div class="proceed">
        <input class="btn large-btn" type="submit" id="Checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
      </div>
      {% if additional_checkout_buttons and section.settings.cart_show_additional_buttons %}
        <div class="additional">
          <small class="additional-checkout">&mdash; or &mdash;</small>
          {{ content_for_additional_checkout_buttons }}
        </div>
      {% endif %}

      <div class="cart-extra" data-section-type="cart-template">
        {% if section.settings.allow_note %}
          <p><small><a class="show-note" href="javascript:void(0)">{{ 'cart.general.customer_note' | t }}</a></small></p>
          <div class="note" id="NoteForSeller">
            <textarea id="note" name="note" aria-label="{{ 'cart.general.customer_note' | t }}">{{ cart.note }}</textarea>
          </div>
        {% endif %}
        {% if section.settings.shipping_calculator %}
          <p><small><a class="show-calculator" href="javascript:void(0)">{{ 'cart.shipping_calculator.estimate_shipping' | t }}</a></small></p>
          <div id="ShippingCalculator">
						{% assign default_country = section.settings.shipping_calculator_default_country %}
            {% include 'cart-shipping-calculator', default_country: default_country %}
          </div>
          {{ "/services/javascripts/countries.js" | script_tag }}
          {{ "shopify_common.js" | shopify_asset_url | script_tag }}
        {% endif %}
      </div>

    </div>
  </form>
  {% endif %}
</section>


{% schema %}
{
  "name": "Cart page",
  "settings": [
    {
      "type": "checkbox",
      "id": "allow_note",
      "label": "Enable order notes",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "allow_tax_text",
      "label": "Enable tax & shipping text",
      "default": true
    },
    {
      "type": "text",
      "id": "custom_tax_text",
      "label": "Custom tax text"
    },
    {
      "type": "header",
      "content": "Shipping rates calculator"
    },
    {
      "type": "checkbox",
      "id": "shipping_calculator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_calculator_default_country",
      "label": "Shipping rates calculator default country",
      "default": "United States",
      "info": "If the customer is logged in, their shipping address country will replace the default."
    },
		{
			"type": "header",
			"content": "Additional checkout buttons"
		},
		{
			"type": "checkbox",
			"id": "cart_show_additional_buttons",
			"label": "Show additional checkout options on cart",
			"info": "Move buttons for Apple Pay, Amazon Pay and PayPal express from the first step of the checkout to the cart.",
			"default": false
		}
  ]
}
{% endschema %}
